.header-item {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;

  & .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-item {
  position: relative;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $time;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &.current::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 4px;
  }
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.nav-contacts {
  display: inline-flex;
  align-items: center;
  color: $text-color;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: $text-color;
  transition: color $time, fill $time;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.nav-contacts-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.nav-contacts-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
